:root {
  --primary-color: #000;
  --gray-color: #595959;
  --background-color: #DF62A1;
  --color-deeppink: #e0164a;
  --font-family: Inter;
}





/* Algemene styling */
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, a, p, li, button, strong, td {
  font-family: var(--font-family);
}

h2 {
  font-size: 1rem;
  margin: 20px 15px;
}

h3 {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}

ul {
  list-style: none;
  overflow: hidden;
}

button {
  background-color: #fff;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  padding: 4px;
  position: absolute;
  bottom: 1em;
  right: 0.5em;
}

header article a,
main a {
  background-color: #fff;
  color: var(--primary-color);
  padding: 10px 60px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}





/* Navigatie */
header nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 7fr 1fr 1fr;
  padding: 10px;
}

header nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

header nav ul li svg {
  max-width: 30px;
  width: 100%;
  cursor: pointer;
}

header nav ul li button {
  cursor: pointer;
  padding: 0 5px 0 0;
}

header nav ul li:nth-of-type(3) {
  flex-grow: 13;
}

header nav ul li a {
  line-height: 1;
  text-align: center;
  color: var(--primary-color);
}

header nav ul li h1 svg {
  max-width: 120px;
  width: 100%;
}

header nav ul li:first-of-type button,
header nav ul li:first-of-type button::before,
header nav ul li:first-of-type button::after {
  background-color: var(--primary-color);
  width: 20px;
  height: 2px;
  border-radius: 2px;
  position: relative;
  transition: 250ms;
  top: 0;
  left: 0;
}

header nav ul li:first-of-type button::before {
  content: '';
  position: absolute;
  top: -7px;
}

header nav ul li:first-of-type button::after {
  content: '';
  position: absolute;
  top: 7px;
}

header nav ul li.open button {
  background-color: transparent;
}

header nav ul li.open button::before {
  transform: rotate(45deg);
  top: 0;
}

header nav ul li.open button::after {
  transform: rotate(-45deg);
  top: 0;
}

header nav ul li ul {
  background-color: #fff;
  display: block;
  height: 100vh;
  max-width: 400px;
  width: 100%;
  padding: 10px 15px;
  position: absolute;
  top: 52px;
  left: -400px;
  z-index: 1;
  transition: left 250ms ease-in;
}

header nav ul li.open ul {
  left: 0;
}

header nav ul li li {
  display: block;
}

header nav ul li li a {
  display: block;
  padding: 15px 0;
  font-weight: 600;
  text-decoration: none;
  text-align: left;
}

header nav ul li li:first-of-type a,
header nav ul li li:last-of-type a {
  color: var(--color-deeppink);
}





/* Homepage */
section:first-of-type article:last-of-type h2,
section:nth-of-type(2) h2,
section:nth-of-type(3) article h2,
section:nth-of-type(5) article h2 {
  display: none;
}

main section:first-of-type > article:first-of-type {
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 0;
}

main section:first-of-type article:first-of-type h2,
main section:first-of-type article:first-of-type p {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

main article:first-of-type h2 {
  margin: 15px;
  width: 90%;
}

main section:first-of-type article:first-of-type p {
  background-color: var(--primary-color);
  display: inline;
  padding: 5px 15px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
}

main section:first-of-type article:first-of-type p:first-of-type {
  order: -1;
}

main section:first-of-type article:first-of-type p:last-of-type {
  background-color: #fff;
  color: var(--primary-color);
  position: relative;
}

main article:first-of-type p:last-of-type:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -10px;
  left: 15px;
}

main section:first-of-type article:last-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

main section:first-of-type article:last-of-type img {
  width: 100%;
}

main article video {
  width: 90%;
  margin-bottom: 13px;
  position: absolute;
}

main article a {
  position: absolute;
  bottom: 15px;
}

section:nth-of-type(2) {
  display: flex;
  justify-content: center;
}

section:nth-of-type(2) ul {
  display: flex;
  gap: 10px;
  margin: 20px 0 20px;
  padding: 0 15px;
  overflow-x: scroll;
}

section:nth-of-type(2) ul li {
  padding: 10px 0;
}

section:nth-of-type(2) ul li img {
  width: 80px;
  border-radius: 10em;
  border: 3px solid var(--color-deeppink);
}

section:nth-of-type(2) ul li h3 {
  text-align: center;
}

section:nth-of-type(2) ul li a {
  display: block;
  padding: 0;
  margin-top: 5px;
  text-align: center;
  text-transform: unset;
  font-size: 0.8em;
  font-weight: 300;
}

section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section:nth-of-type(3) article {
  width: calc(50% - 5px);
  position: relative;
}

section:nth-of-type(3) article img {
  width: 100%;
}

section:nth-of-type(3) article a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  height: 30px;
  padding: 0;
  font-size: 0.8em;
  position: absolute;
  bottom: 4.2em;
  left: 50%;
  transform: translateX(-50%);
}

section:nth-of-type(4) ul {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

section:nth-of-type(4) ul li {
  min-width: 80%;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

section:nth-of-type(4) ul li img,
section:nth-of-type(5) img {
  width: 100%;
}

section:nth-of-type(4) ul li button {
  bottom: 4.5em;
}

section:nth-of-type(4) ul li p {
  margin: 5px 15px;
  font-family: var(--font-family);
  font-size: 0.9em;
  font-weight: 600;
}

section:nth-of-type(4) ul li p:last-of-type {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: 300;
  color: var(--gray-color);
}

section:nth-of-type(4) ul li button:last-of-type {
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 3.5em;
  height: auto;
  border-radius: 0;
  padding: 0;
  bottom: 1.8em;
}

section:nth-of-type(4) ul li button:last-of-type svg {
  width: 20px;
  margin-right: 5px;
}

section:nth-of-type(5) {
  margin-top: 20px;
}

section:nth-of-type(5) article {
  position: relative;
}

section:nth-of-type(5) article:first-of-type {
  margin-bottom: 20px;
}

section:nth-of-type(5) a {
  position: absolute;
  left: calc(50% - 9.3em);
  bottom: 20px;
  font-size: 0.8em;
}





/* Productpage */
#product main section:first-of-type ul {
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

#product main section:first-of-type ul li {
  min-width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

#product main section:first-of-type ul li img {
  width: 100%;
}

#product main section:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main section:nth-of-type(2) > p {
  display: flex;
  align-items: center;
  margin: 5px 15px;
  font-size: 0.8em;
  font-weight: 300;
  color: var(--color-deeppink);
}

main section:nth-of-type(2) > p svg {
  width: 16px;
  margin-right: 5px;
}

#product main section:nth-of-type(2) > article {
  margin: 5px 15px 15px;
}

#product main section:nth-of-type(2) > article p:first-of-type {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 0.9em;
  color: var(--gray-color);
}

#product main section:nth-of-type(2) > article p:last-of-type {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 0.9em;
  text-decoration: line-through;
}

main section:nth-of-type(2) > article strong {
  margin-left: 5px;
  font-weight: 600;
  color: var(--color-deeppink);
}

main section:nth-of-type(2) > article:nth-of-type(2) button {
  height: auto;
  position: relative;
  bottom: inherit;
  right: inherit;
}

main section:nth-of-type(2) > button {
  background-color: var(--primary-color);
  height: auto;
  width: 100%;
  padding: 15px 0;
  border-radius: 0;
  margin: 0 15px 5px;
  position: relative;
  bottom: inherit;
  right: inherit;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
}

#product main section:nth-of-type(2) > article:last-of-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main section:nth-of-type(2) article:last-of-type article {
  width: 37%;
  height: 2.6em;
  position: relative;
}

main section:nth-of-type(2) article:last-of-type article img {
  width: 2.6em;
  height: 2.6em;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
}

main section:nth-of-type(2) article article img:nth-of-type(2) {
  left: 2em;
}

main section:nth-of-type(2) article article img:last-of-type {
  left: 4em;
}

main section:nth-of-type(2) article:last-of-type article + p {
  width: 63%;
  margin: 0;
  text-decoration: none;
  font-size: 0.8em;
}

#product main > article:first-of-type {
  margin: 0 15px;
}

#product main article:first-of-type p,
#product main article:first-of-type td {
  margin-bottom: 15px;
  font-size: 0.9em;
  line-height: 1.2;
  color: var(--gray-color);
}

main article:first-of-type td {
  margin-bottom: 5px;
}

main article:first-of-type tr {
  display: flex;
}

main article:first-of-type table tr td:last-of-type {
  padding-left: 5px;
}

#product section:nth-of-type(3) article {
  width: auto;
}

#product section:nth-of-type(3) ul {
  display: grid;
  grid-template-columns: repeat(10, 40%);
  gap: 10px;
  overflow-x: scroll;
}

#product section:nth-of-type(3) ul li {
  margin-bottom: 10px;
  position: relative;
}

#product section:nth-of-type(3) ul article:first-of-type > p:first-of-type {
  background-color: var(--color-deeppink);
  position: absolute;
  top: 10px;
  left: 0;
  padding: 2px 7px 2px 10px;
  border-radius: 0 10px 10px 0;
  font-weight: 500;
  font-size: 0.8em;
  color: #fff;
}

#product section:nth-of-type(3) ul li img {
  width: 100%;
}

#product section:nth-of-type(3) ul article:first-of-type > p:last-of-type {
  background-color: var(--primary-color);
  padding: 2px 10px;
  border-radius: 10px;
  position: absolute;
  top: auto;
  bottom: 10px;
  left: 10px;
  font-size: 0.8em;
  font-weight: 500;
  color: #fff;
  margin: 0;
}

#product section:nth-of-type(3) ul article:last-of-type {
  margin: 0 5px;
}

#product section:nth-of-type(3) ul h3,
#product section:nth-of-type(3) ul article:last-of-type p:first-of-type {
  width: 80px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden !important;
  text-transform: unset;
  font-size: 1em;
}

#product section:nth-of-type(3) ul article:last-of-type p:first-of-type {
  font-size: 14px;
}

#product section:nth-of-type(3) ul article:last-of-type p:last-of-type {
  font-size: 1em;
  text-decoration: line-through;
}

#product section:nth-of-type(3) ul li:nth-of-type(5) article:last-of-type p:last-of-type,
#product section:nth-of-type(3) ul li:nth-of-type(6) article:last-of-type p:last-of-type {
  text-decoration: none;
}

#product section:nth-of-type(3) ul article:last-of-type strong {
  text-decoration: inherit;
  color: var(--color-deeppink);
  
}

#product section:nth-of-type(3) ul article:last-of-type button {
  width: 30px;
  height: 30px;
  padding: 0;
  top: 0;
  bottom: inherit;
  right: -5px;
}

#product main section:last-of-type {
  background-color: #ccc;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-top: 20px;
}

main section:last-of-type svg {
  width: 30px;
  height: 30px;
  color: var(--gray-color);
}

main section:last-of-type p {
  margin-left: 5px;
  font-size: 0.8em;
  color: var(--gray-color);
}





/* Newsletter */
section:nth-of-type(5) + article h2,
section:nth-of-type(4) + article h2 {
  margin-bottom: 10px;
}

section:nth-of-type(5) + article p,
section:nth-of-type(4) + article p {
  margin: 0 15px;
  font-size: 0.8em;
  line-height: 1.4;
  color: var(--gray-color);
}

section:nth-of-type(5) + article button,
section:nth-of-type(4) + article button {
  width: calc(100% - 2 * 15px);
  border: 1px solid var(--primary-color);
  border-radius: unset;
  margin: 15px 15px 0 15px;
  position: relative;
  right: inherit;
  bottom: inherit;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}






/* Footer */
footer {
  margin-top: 15px;
}

footer ul {
  border-top: 1px solid #ddd;
}

footer ul:first-of-type li {
  padding: 15px 0;
  margin-left: 15px;
  font-weight: 300;
  font-size: 0.8em;
  color: var(--gray-color);
}

footer ul:first-of-type li:first-of-type {
  padding-top: 40px;
}

footer ul:first-of-type li:last-of-type {
  padding-bottom: 40px
}

footer ul:last-of-type {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 15px 0;
}

footer ul:last-of-type li {
  width: 15px;
}





@media (min-width: 479px) {
  main article video {
    margin-bottom: 21px;
  }

  section:nth-of-type(4) ul li {
    min-width: calc(100% / 2.5);
  }
}

@media (min-width: 640px) {
  main section:first-of-type article:last-of-type,
  main section:first-of-type article:last-of-type img {
    max-height: 90vh;
    width: auto;
  }

  main article video {
    margin-bottom: 26px;
    width: 57%;
  }

  section:nth-of-type(2) ul {
    gap: 30px;
  }
}

@media (min-width: 768px) {
  header nav ul {
    grid-template-columns: 1fr 1fr 15fr 1fr 1fr;
  }
  
  section:nth-of-type(4) ul li {
    min-width: calc(100% / 3);
  }

  
}

@media (min-width: 1024px) {
  header {
    height: 118px;
  }

  header nav ul li:nth-of-type(2) {
    order: -1;
  }

  header nav ul button {
    display: none;
  }

  header nav ul li ul {
    display: flex;
    min-width: 100%;
    width: 100%;
    height: auto;
    left: 0;
  }

  header nav ul li li {
    display: flex;
  }

  header nav ul ul li:nth-of-type(3) {
    flex-grow: 1;
  }

  main section:first-of-type article:last-of-type {
    max-height: 80vh;
    overflow: hidden;
  }

  main section:first-of-type article:last-of-type img {
    max-height: initial;
    width: 100%;
  }

  main article video {
    max-width: 500px;
  }

  section:nth-of-type(4) ul li {
    min-width: calc(100% / 5);
  }
}